* {
  box-sizing: border-box;
}
body {
  color: #8c8f94;
  font-family: "Lato";
  font-size: 18px;
  line-height: 26px;

  /* font-family: 'Varela Round'; */
}
.header {
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}
a {
  text-decoration: none;
  color: #26272d;
  font-size: 16px;
  font-weight: 600;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.header__inner {
  text-align: center;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 130px;
}
.menu__items {
  display: flex;
  align-items: center;
}
.menu__items li {
  margin-left: 25px;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__items {
  display: flex;
}
.header__items li {
  margin-left: 25px;
}

.header__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  background-color: #267df4;
  margin-left: 25px;
  border-radius: 30px;
}
.header__btn a {
  color: #fff;
  margin-left: 15px;
}
.header__title {
  font-family: "Varela Round";
  font-size: 62px;
  line-height: 72px;
  color: #26272d;
  text-align: center;
  padding-bottom: 50px;
}
.header__subtitle {
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 60px;
}
.header__demo {
  display: inline-block;
}
.header__demo-btn {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dadcde;
  border-radius: 30px;
  display: block;
  padding: 10px 40px;
}
.header__demo-btn a {
  margin-left: 10px;
}
.advantages {
  background-image: url(../images/advantages_img1.png), url(../images/advantages_img2.png);
  background-repeat: no-repeat;
  background-position: left bottom 60%, right bottom 10%;
}
.advantages__inner {
  padding-top: 120px;
}
.advantages__items {
  display: flex;
  justify-content: space-between;

  margin-bottom: 215px;
}

.advantages__item {
  max-width: 500px;
}
.advantages__item-icon {
  padding-bottom: 40px;
}
.advantages__item-title {
  padding-bottom: 5px;
  font-weight: 200;
  font-size: 26px;
  line-height: 34px;
  color: #26272d;
}
.advantages__item-text p {
  margin: 35px 0;
}
.default__title {
  font-family: "Varela Round";
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  padding-bottom: 65px;
}
.advantages__right {
  display: flex;
  justify-content: flex-end;
}
.advantages__right-item {
  max-width: 470px;
}
.advantages__right-item__title {
  max-width: 240px;
}
.advantages__right-item__text p {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 40px;
}

.advantages__right-btn {
  margin: 20px auto 450px;
}
.advantages__right-btn__try {
  background-color: #267df4;
  padding: 10px 80px 10px 25px;
  border-radius: 30px;
  font-size: 16px;
  color: #fff;
}
.advantages__right-btn__link {
  border: 1px solid #e9e9ea;
  border-radius: 30px;
  padding: 10px 30px 10px 30px;
  margin-left: 20px;
}
.advantages__left {
  display: flex;
  justify-content: flex-start;
}
.advantages__left-item {
  max-width: 470px;
}
.advantages__left-item__title {
  max-width: 235px;
}
.advantages__left-item__text p {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 40px;
}
.advantages__left-partners {
  margin-bottom: 230px;
}
.advantages__left-partners__title {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 22px;
  color: #26272d;
  font-weight: 700;
}
.advantages__left-partners__items {
  display: flex;
}
.advantages__left-partners__items img {
  padding-right: 30px;
}
.interface {
  background-color: #f5f5f8;
  padding: 126px 0;
}
.interface__inner {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}
.interface__title {
  padding-bottom: 30px;
}
.interface__line div {
  height: 2px;
  background-color: #267df4;
  width: 50px;
  display: inline-block;
  margin-bottom: 20px;
}
.interface__subtitle {
  margin-bottom: 30px;
}
.interface__form-inner {
  width: 505px;
  border: 1px solid #8c8f94;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  padding: 5px 5px 5px 30px;
  margin-bottom: 60px;
}
.interface__form-box {
  display: flex;
  justify-content: space-between;
}
.interface__form-inner input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  width: 300px;
  outline: none;
}
.interface__form-inner ::-webkit-input-placeholder {
  color: #3a3d4b;
}

.interface__form-inner button {
  border: none;
  cursor: pointer;
  background-color: #6fc754;
  padding: 15px 50px 15px 30px;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
}
.reviews__slider {
  position: relative;
}

.reviews__slider-box {
  text-align: center;
  margin-bottom: 130px;
}
.reviews__slider-box img {
  display: inline-block;
}
.reviews__descr-box {
  width: 570px;
  margin: 0 auto;
}
.reviews__title {
  font-size: 32px;
  line-height: 38px;
  color: #26272d;
  margin-bottom: 40px;
}
.reviews__text {
  margin-bottom: 30px;
}
.reviews__rating {
  margin-bottom: 65px;
}
.slick-next {
  position: absolute;
  top: 70%;
  z-index: 3;
  cursor: pointer;
  outline: none;
  background-image: url(..//images/arrow_right.png);
  background-repeat: no-repeat;
}

.plan {
  background-color: #f4f4f5;
}
.plan__inner {
  display: flex;
  justify-content: space-between;
  padding: 200px 0 200px;
}
.plan__descr {
  width: 370px;
}
.plan__descr-user__title {
  font-size: 12px;
  line-height: 22px;
  color: #26272d;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.plan__descr-user__items {
  display: flex;
  justify-content: space-between;
  width: 260px;
  border-radius: 30px;
  border: 1px solid #d5d6d7;
  margin-bottom: 75px;
  align-items: center;
}
.plan__descr-user__item {
  padding: 10px 30px;
  cursor: pointer;
}
.inputUser {
  display: none;
}
.labelUser {
  padding: 10px 25px;
}
.inputUser:checked + .labelUser {
  color: #26292c;
  border-radius: 30px;
  background-color: #fff;
}

.plan__descr-user__item {
}
.plan__descr__text {
  margin-bottom: 45px;
}
.plan__descr__link {
  font-size: 14px;
  line-height: 24px;
  color: #8c8f94;
}

.default a {
  color: #267df4;
  text-decoration-line: underline;
  font-size: 14px;
  font-weight: 400;
}

.plan__items {
  display: flex;
  width: 670px;
}
.inputPlan {
  display: none;
}
.labelPlan {
  width: 340px;
  text-align: center;
  background-color: #ebebed;
  padding: 40px 0;
}
.inputPlan:checked + .labelPlan {
  background-color: #fff;
  transform: scale(1.1);
}
.plan-item__title {
  font-size: 32px;
  line-height: 38px;
  color: #26272d;
  margin-bottom: 30px;
}
.plan-item__price {
  font-size: 11px;
  line-height: 22px;
  color: #26272d;
  text-transform: uppercase;
  border-radius: 30px;
  width: 60px;
  border: 1px solid #d5d6d7;
  text-align: center;
  font-weight: 700;
  margin: 0 auto 50px;
}
.plan-item__descr {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin: 0 auto 50px;
  max-width: 180px;
}
.plan-item__list {
  font-size: 16px;
  line-height: 24px;
  color: #26292c;
  font-weight: 600;
  min-height: 100px;
}
.plan-item__link {
  font-size: 16px;
  color: #267df4;
  border-radius: 30px;
  width: 210px;
  padding: 10px 50px;
  margin: 0 auto;
  border: 1px solid #267df4;
}
.subscribe__inner {
  padding: 80px 0 80px;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
}

.subscribe__title {
  margin-bottom: 45px;
}
.subscribe__form {
  display: flex;
  justify-content: space-between;
  max-width: 560px;
  margin: 0 auto 30px;
  border: 1px solid #d5d6d7;
  border-radius: 30px;
  padding: 3px 3px 3px 30px;
}
.subscribe__form input {
  border: none;
  background: transparent;
  outline: none;
}
.subscribe__form button {
  border: none;
  cursor: pointer;
  background-color: #6fc754;
  border-radius: 30px;
  color: #fff;
  font-size: 16px;
  align-items: center;
  padding: 10px 30px;
}

.subscribe__subtitle {
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 85px 0 130px;
  border-bottom: 1px solid #f4f4f4;
}
.footer-socials {
  width: 280px;
}
.footer-socials__logo {
  margin-bottom: 30px;
}
.footer-socials__text {
  margin-bottom: 30px;
}
.footer-socials__store {
  margin-bottom: 35px;
}
.footer-socials__links {
  display: flex;
  justify-content: space-between;
}
.footer-info {
  display: flex;
}
.footer-info__box {
  padding-right: 90px;
}
.footer-info__title {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 22px;
  color: #26272d;
  text-transform: uppercase;
  font-weight: 900;
}
.footer-info__list a {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 36px;
  color: #8c8f94;
  font-weight: 700;
}

.footer__developer {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 25px;
}

.developer__inner {
  display: flex;
  align-items: center;
}
.developer__link {
  font-size: 14;
  line-height: 24px;
  color: #8c8f94;
}
.developer__text {
  font-size: 9px;
  line-height: 22px;
  color: #26272d;
  text-transform: uppercase;
}
.developer__logo {
  padding-left: 10px;
}
